body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 10px;
    text-align: center;
}

form {
    display: grid;
    width: 655px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px grey;
    border-radius: 0%;
    background-color: azure;
}

fieldset {
    display: grid;
    gap: 5rem;
    padding: 1rem;
    margin: 1rem;

}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

select,
input,
textarea {
    padding: 0.5rem;
    font-size: 1.5rem;
}

label[input="checkbox"] {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

button {
    margin: .5rem 12.2rem;
    padding: .7rem;
    font-size: 1.2rem;
    /* border: none; */
}

button:hover {
    color: white;
    background-color: navy;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.font-item {
    display: grid;
    align-items: center;

}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 5px;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}